$background-color: linear-gradient(259.93deg, #000000 -41.68%, #00171f 146.85%);
$primary-text-color: #ffffff;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "archivo", sans-serif;
    background: $background-color;
    height: 100vh;
    color: $primary-text-color;
}
